<!--
<div>
  <label>{{ userAuth | json }}</label>
</div>
-->
<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      
      <div>
        <mat-form-field class="example-full-width">
          <input matInput name="userName" placeholder="User Name" [(ngModel)]="user.userName">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <input matInput name="password" placeholder="Password" [(ngModel)]="user.password" type="password">
        </mat-form-field>
      </div>

      <div>
        <mat-spinner-button color="primary" [options]="btnOpts" (click)="login()"></mat-spinner-button>
  </div>

    </form>
  </mat-card-content>
</mat-card>
