<mat-card>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Customer Area</span>
      <span class="spacer"></span>
      <a routerLink="/active-contracts" mat-button>Ενεργά Συμβόλαια</a>
      <a routerLink="/login" mat-button>Login Custom</a>
      <button (click)="login()" mat-button>Login Azure</button>
      <button (click)="logout()" mat-button>Logout Azure</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>

</mat-card>
