<mat-card>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Customer Area</span>
      <span class="spacer"></span>
      <a routerLink="/active-contracts" mat-button *ngIf="userAuth.isAuthenticated" >Ενεργά Συμβόλαια</a>
      <a routerLink="/login" mat-button *ngIf="!userAuth.isAuthenticated">Login</a>
      <button (click)="logout()" mat-button *ngIf="userAuth.isAuthenticated">Logout {{ userAuth.userName }}</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>

</mat-card>
