.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    width: 200px;
    height: 150px;
    background-color: chartreuse;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}